body {
  margin: 0;
  padding: 0;
}

strong {
  display: inline-block;
}

.header {
  padding: .5rem 1rem;
}

.header h1 {
  text-align: center;
  margin: 0;
  cursor: default;
}

.content {
  padding: 1rem;
}

.greeting-message__picture-container figure {
  margin-left: 0;
}

.content .greeting-message__question {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.content .greeting-message__question .question {
  cursor: default;
  user-select: none;
  color: white;
  background-color: black;
  padding: .5rem 1rem;
}

.footer {
  padding: .5rem 1rem;
}

.copyright {
  user-select: none !important;
  cursor: default !important;
}
